2_Source/ch08/StudentsServiceExmples/Client/Service References/StudentsDuplexReference/StudentsDuplex.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="WcfExamples" elementFormDefault="qualified" targetNamespace="WcfExamples" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="greeting" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Receive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>