2_Source/ch12/MarketClient/MarketClient/Service References/MarketServiceReference/MarketService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="MarketExample" elementFormDefault="qualified" targetNamespace="MarketExample" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetNewId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNewIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCurrentSale">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="saleId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="num" type="xs:int" />
        <xs:element minOccurs="0" name="unitPrice" type="xs:double" />
        <xs:element minOccurs="0" name="price" type="xs:double" />
        <xs:element minOccurs="0" name="operatorName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCurrentSaleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentDaySale">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentDaySaleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCurrentDaySaleResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>