2_Source/ch08/StudentsServiceExmples/Client/Service References/StudentsServiceReference/StudentsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="WcfServiceExamples" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="WcfServiceExamples" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="WcfServiceExamples/Imports">
      <xsd:import schemaLocation="http://localhost:49708/StudentsService.svc?xsd=xsd0" namespace="WcfServiceExamples" />
      <xsd:import schemaLocation="http://localhost:49708/StudentsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49708/StudentsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service" />
      <xsd:import schemaLocation="http://localhost:49708/StudentsService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStudentsService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IStudentsService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentsService_Hello_InputMessage">
    <wsdl:part name="parameters" element="tns:Hello" />
  </wsdl:message>
  <wsdl:message name="IStudentsService_Hello_OutputMessage">
    <wsdl:part name="parameters" element="tns:HelloResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentsService_UpdateScore_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateScore" />
  </wsdl:message>
  <wsdl:message name="IStudentsService_UpdateScore_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateScoreResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentsService_GetStudentsValue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentsValue" />
  </wsdl:message>
  <wsdl:message name="IStudentsService_GetStudentsValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentsValueResponse" />
  </wsdl:message>
  <wsdl:portType name="IStudentsService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="WcfServiceExamples/IStudentsService/GetData" message="tns:IStudentsService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="WcfServiceExamples/IStudentsService/GetDataResponse" message="tns:IStudentsService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Hello">
      <wsdl:input wsaw:Action="WcfServiceExamples/IStudentsService/Hello" message="tns:IStudentsService_Hello_InputMessage" />
      <wsdl:output wsaw:Action="WcfServiceExamples/IStudentsService/HelloResponse" message="tns:IStudentsService_Hello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateScore">
      <wsdl:input wsaw:Action="WcfServiceExamples/IStudentsService/UpdateScore" message="tns:IStudentsService_UpdateScore_InputMessage" />
      <wsdl:output wsaw:Action="WcfServiceExamples/IStudentsService/UpdateScoreResponse" message="tns:IStudentsService_UpdateScore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudentsValue">
      <wsdl:input wsaw:Action="WcfServiceExamples/IStudentsService/GetStudentsValue" message="tns:IStudentsService_GetStudentsValue_InputMessage" />
      <wsdl:output wsaw:Action="WcfServiceExamples/IStudentsService/GetStudentsValueResponse" message="tns:IStudentsService_GetStudentsValue_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>