2_Source/FuLuA/Experiment4/Client/Service References/StreamServiceReference/StreamService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="StreamExperiment" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="StreamExperiment" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="StreamExperiment/Imports">
      <xsd:import schemaLocation="http://localhost:49890/StreamService.svc?xsd=xsd0" namespace="StreamExperiment" />
      <xsd:import schemaLocation="http://localhost:49890/StreamService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49890/StreamService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:49890/StreamService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStreamService_GetFilesInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFilesInfo" />
  </wsdl:message>
  <wsdl:message name="IStreamService_GetFilesInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilesInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IStreamService_DownloadStream_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadStream" />
  </wsdl:message>
  <wsdl:message name="IStreamService_DownloadStream_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadStreamResponse" />
  </wsdl:message>
  <wsdl:message name="IStreamService_UploadStream_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadStream" />
  </wsdl:message>
  <wsdl:message name="IStreamService_UploadStream_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadStreamResponse" />
  </wsdl:message>
  <wsdl:portType name="IStreamService">
    <wsdl:operation name="GetFilesInfo">
      <wsdl:input wsaw:Action="StreamExperiment/IStreamService/GetFilesInfo" message="tns:IStreamService_GetFilesInfo_InputMessage" />
      <wsdl:output wsaw:Action="StreamExperiment/IStreamService/GetFilesInfoResponse" message="tns:IStreamService_GetFilesInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadStream">
      <wsdl:input wsaw:Action="StreamExperiment/IStreamService/DownloadStream" message="tns:IStreamService_DownloadStream_InputMessage" />
      <wsdl:output wsaw:Action="StreamExperiment/IStreamService/DownloadStreamResponse" message="tns:IStreamService_DownloadStream_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadStream">
      <wsdl:input wsaw:Action="StreamExperiment/IStreamService/UploadStream" message="tns:IStreamService_UploadStream_InputMessage" />
      <wsdl:output wsaw:Action="StreamExperiment/IStreamService/UploadStreamResponse" message="tns:IStreamService_UploadStream_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>