2_Source/ch11/WcfMsmqExamples/Service/Service/Service References/AirportMessageStatusServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="WcfMsmqExamples" elementFormDefault="qualified" targetNamespace="WcfMsmqExamples" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AirportMessageStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>