2_Source/ch08/StudentsServiceExmples/Client/Service References/StudentsOneWayReference/StudentsOneWay1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="WcfServiceExamples" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="WcfServiceExamples" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="WcfServiceExamples/Imports">
      <xsd:import schemaLocation="http://localhost:49708/StudentsOneWay.svc?xsd=xsd0" namespace="WcfServiceExamples" />
      <xsd:import schemaLocation="http://localhost:49708/StudentsOneWay.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49708/StudentsOneWay.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStudentsOneWay_Clear_InputMessage">
    <wsdl:part name="parameters" element="tns:Clear" />
  </wsdl:message>
  <wsdl:message name="IStudentsOneWay_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IStudentsOneWay_Remove_InputMessage">
    <wsdl:part name="parameters" element="tns:Remove" />
  </wsdl:message>
  <wsdl:message name="IStudentsOneWay_GetStudentsValue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentsValue" />
  </wsdl:message>
  <wsdl:message name="IStudentsOneWay_GetStudentsValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentsValueResponse" />
  </wsdl:message>
  <wsdl:portType name="IStudentsOneWay">
    <wsdl:operation name="Clear">
      <wsdl:input wsaw:Action="WcfServiceExamples/IStudentsOneWay/Clear" message="tns:IStudentsOneWay_Clear_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="WcfServiceExamples/IStudentsOneWay/Add" message="tns:IStudentsOneWay_Add_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <wsdl:input wsaw:Action="WcfServiceExamples/IStudentsOneWay/Remove" message="tns:IStudentsOneWay_Remove_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudentsValue">
      <wsdl:input wsaw:Action="WcfServiceExamples/IStudentsOneWay/GetStudentsValue" message="tns:IStudentsOneWay_GetStudentsValue_InputMessage" />
      <wsdl:output wsaw:Action="WcfServiceExamples/IStudentsOneWay/GetStudentsValueResponse" message="tns:IStudentsOneWay_GetStudentsValue_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>