2_Source/ch09/RndGame/NetTcpClient/NetTcpClient/Service References/RndGameServiceReference/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="RandomGameExample" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="RandomGameExample" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="RandomGameExample/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/RndGameService/?xsd=xsd0" namespace="RandomGameExample" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/RndGameService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRndGameService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IRndGameService_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IRndGameService_SitDown_InputMessage">
    <wsdl:part name="parameters" element="tns:SitDown" />
  </wsdl:message>
  <wsdl:message name="IRndGameService_GetUp_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUp" />
  </wsdl:message>
  <wsdl:message name="IRndGameService_Start_InputMessage">
    <wsdl:part name="parameters" element="tns:Start" />
  </wsdl:message>
  <wsdl:message name="IRndGameService_SetLevel_InputMessage">
    <wsdl:part name="parameters" element="tns:SetLevel" />
  </wsdl:message>
  <wsdl:message name="IRndGameService_UnsetDot_InputMessage">
    <wsdl:part name="parameters" element="tns:UnsetDot" />
  </wsdl:message>
  <wsdl:message name="IRndGameService_Talk_InputMessage">
    <wsdl:part name="parameters" element="tns:Talk" />
  </wsdl:message>
  <wsdl:message name="IRndGameService_ShowLogin_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ShowLogin" />
  </wsdl:message>
  <wsdl:message name="IRndGameService_ShowLogout_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ShowLogout" />
  </wsdl:message>
  <wsdl:message name="IRndGameService_ShowSitDown_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ShowSitDown" />
  </wsdl:message>
  <wsdl:message name="IRndGameService_ShowGetUp_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ShowGetUp" />
  </wsdl:message>
  <wsdl:message name="IRndGameService_ShowStart_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ShowStart" />
  </wsdl:message>
  <wsdl:message name="IRndGameService_ShowTalk_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ShowTalk" />
  </wsdl:message>
  <wsdl:message name="IRndGameService_GameStart_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GameStart" />
  </wsdl:message>
  <wsdl:message name="IRndGameService_ShowWin_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ShowWin" />
  </wsdl:message>
  <wsdl:message name="IRndGameService_UpdateTablesInfo_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateTablesInfo" />
  </wsdl:message>
  <wsdl:message name="IRndGameService_UpdateLevel_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateLevel" />
  </wsdl:message>
  <wsdl:message name="IRndGameService_GridSetDot_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GridSetDot" />
  </wsdl:message>
  <wsdl:message name="IRndGameService_GridUnsetDot_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GridUnsetDot" />
  </wsdl:message>
  <wsdl:portType name="IRndGameService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="RandomGameExample/IRndGameService/Login" message="tns:IRndGameService_Login_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="RandomGameExample/IRndGameService/Logout" message="tns:IRndGameService_Logout_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SitDown">
      <wsdl:input wsaw:Action="RandomGameExample/IRndGameService/SitDown" message="tns:IRndGameService_SitDown_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUp">
      <wsdl:input wsaw:Action="RandomGameExample/IRndGameService/GetUp" message="tns:IRndGameService_GetUp_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Start">
      <wsdl:input wsaw:Action="RandomGameExample/IRndGameService/Start" message="tns:IRndGameService_Start_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetLevel">
      <wsdl:input wsaw:Action="RandomGameExample/IRndGameService/SetLevel" message="tns:IRndGameService_SetLevel_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnsetDot">
      <wsdl:input wsaw:Action="RandomGameExample/IRndGameService/UnsetDot" message="tns:IRndGameService_UnsetDot_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Talk">
      <wsdl:input wsaw:Action="RandomGameExample/IRndGameService/Talk" message="tns:IRndGameService_Talk_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowLogin">
      <wsdl:output wsaw:Action="RandomGameExample/IRndGameService/ShowLogin" message="tns:IRndGameService_ShowLogin_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowLogout">
      <wsdl:output wsaw:Action="RandomGameExample/IRndGameService/ShowLogout" message="tns:IRndGameService_ShowLogout_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowSitDown">
      <wsdl:output wsaw:Action="RandomGameExample/IRndGameService/ShowSitDown" message="tns:IRndGameService_ShowSitDown_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowGetUp">
      <wsdl:output wsaw:Action="RandomGameExample/IRndGameService/ShowGetUp" message="tns:IRndGameService_ShowGetUp_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowStart">
      <wsdl:output wsaw:Action="RandomGameExample/IRndGameService/ShowStart" message="tns:IRndGameService_ShowStart_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowTalk">
      <wsdl:output wsaw:Action="RandomGameExample/IRndGameService/ShowTalk" message="tns:IRndGameService_ShowTalk_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="GameStart">
      <wsdl:output wsaw:Action="RandomGameExample/IRndGameService/GameStart" message="tns:IRndGameService_GameStart_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowWin">
      <wsdl:output wsaw:Action="RandomGameExample/IRndGameService/ShowWin" message="tns:IRndGameService_ShowWin_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTablesInfo">
      <wsdl:output wsaw:Action="RandomGameExample/IRndGameService/UpdateTablesInfo" message="tns:IRndGameService_UpdateTablesInfo_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLevel">
      <wsdl:output wsaw:Action="RandomGameExample/IRndGameService/UpdateLevel" message="tns:IRndGameService_UpdateLevel_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="GridSetDot">
      <wsdl:output wsaw:Action="RandomGameExample/IRndGameService/GridSetDot" message="tns:IRndGameService_GridSetDot_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="GridUnsetDot">
      <wsdl:output wsaw:Action="RandomGameExample/IRndGameService/GridUnsetDot" message="tns:IRndGameService_GridUnsetDot_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>